.hire-first-div{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px 10px 200px;
    background: linear-gradient(90deg, rgba(79,203,139,1) 0%, rgba(71,250,188,1) 0%, rgba(2,211,254,1) 100%);
    color: #fff;
}
.hire-first-div p{
    font-size: 1.5rem;

}
.hire-first-div a{
    color: black;
    border: none;
    padding: 10px 10px;
    margin: 2%;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    width:200px;
    border-radius: 20px;
    background: whitesmoke;
}
.hire-second-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.hire-second-div p{
    margin: 20px;
    font-size: 1.5rem;
}
#contact-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgb(202,240,229);
    background: linear-gradient(90deg, rgba(202,240,229,1) 28%, rgba(167,238,246,1) 100%);

}
#contact-div p {
    font-size: 1.5rem;
}
form{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
input{
    border-bottom: 2px solid gray;
}
.hire-input-divs{
    margin: 5px;
}
.hire-input-divs input{
    border: none;
    width: 280px;
    padding: 5px;
    outline: none;
}
.hire-submit-btn{
    border: none;
    align-items: center;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    outline: none;
    background: rgb(31, 108, 250);
    width: 100px;
    font-size: 1.7rem;
    color: whitesmoke;
    border-radius: 25px;
}
.hire-submit-btn:hover{
    cursor: pointer;
}